@model List<BookExchange.Models.DBModelsP.CatalogItem>
<div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
    <div class="shop__sidebar">
        <aside class="wedget__categories poroduct--cat">
            <h3 class="wedget__title">Book Categories</h3>
            <ul>
                @foreach (var item in Model)
                {
                  var urlSearch = "../SearchCatalog/" + @item.matl;

                <li><a href="@urlSearch">@item.tentl <span>@item.soLuong</span></a></li>
                }
            </ul>
        </aside>
    </div>
</div>
