@model List<BookExchange.Models.DBModelsP.CatalogItem>

@foreach (var item in Model)
{
    var urlSearch = "../SearchCatalog/" + @item.matl;

<li><a href="@urlSearch">@item.tentl <span>@item.soLuong</span></a></li>
}
            