@model BookExchange.Models.DBModels.Sach

@{
    ViewData["Title"] = "Edit";
}

@*<section class="my_account_area pt--80 pb--55 bg--white">
    <form asp-action="Signin" asp-controller="User">
        <div class="container margin-center row" style="">
            <h3 class="col-12 text-center mb-5 account__title">Chỉnh sửa bài đăng</h3>
            <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>

            <div class="col-lg-6 col-sm-12">
                <div class="my__account__wrapper">
                    <div class="account__form">
                        <div class="input__box">
                            <label>Họ và tên <span>*</span></label>
                            <input asp-for="HoTen" class="form-control" />
                            <span asp-validation-for="HoTen" class="text-danger"></span>
                        </div>
                        <div class="input__box">
                            <label>Ngày sinh<span>*</span></label>
                            <input asp-for="NgaySinh" type="date" class="form-control" />
                            <span asp-validation-for="NgaySinh" class="text-danger"></span>
                        </div>
                        <div class="input__box">
                            <label>Giới tính<span>*</span></label>
                            <input asp-for="GioiTinh" class="form-control" />
                            <span asp-validation-for="GioiTinh" class="text-danger"></span>
                        </div>
                        <div class="input__box">
                            <label>Số điện thoại<span>*</span></label>
                            <input asp-for="DienThoai" type="tel" class="form-control" />
                            <span asp-validation-for="DienThoai" class="text-danger"></span>
                        </div>
                        <div class="input__box">
                            <label>Emaill<span>*</span></label>
                            <input asp-for="Email" type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="account__form height-100">
                    <div class="input__box">
                        <label>Địa chỉ<span>*</span></label>
                        <input asp-for="DiaChi" class="form-control" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="input__box">
                        <label>Tài khoản <span>*</span></label>
                        <input type="text" id="username" name="username" />
                        <span id="textdanger-username" class="text-danger"></span>
                    </div>
                    <div class="input__box">
                        <label>Mật khẩu<span>*</span></label>
                        <input type="password" id="password" name="password" />
                        <span id="textdanger-password" class="text-danger"></span>
                    </div>
                    <div class="input__box">
                        <label>Nhập lại mật khẩu<span>*</span></label>
                        <input type="password" id="re_password" name="re_password" />
                        <span id="textdanger-repassword" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="account__form col-12 btn_register">
                <div class="form__btn">
                    <button id="submit">Đăng ký</button>
                </div>
            </div>

        </div>
    </form>
</section>*@



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSach" />
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTt" class="control-label"></label>
                <select asp-for="MaTt" class="form-control" asp-items="ViewBag.MaTt"></select>
                <span asp-validation-for="MaTt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTl" class="control-label"></label>
                <select asp-for="MaTl" class="form-control" asp-items="ViewBag.MaTl"></select>
                <span asp-validation-for="MaTl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDang" class="control-label"></label>
                <input asp-for="NgayDang" class="form-control" />
                <span asp-validation-for="NgayDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

